

/* nav bar start */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navBar-main{
  display: flex;
  width: 100%;
  height: 10vh;
  background: rgba(0, 0, 5, 0.5);
  position: fixed;
  
  
}

.navBar{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  justify-content: space-between;
}
.logo{
  color: white;
}
.list-items{
  display: flex;
}
.navBar li {
  list-style: none;
  margin-left: 20px;
}
.navBar li a{
  text-decoration: none;
  color: whitesmoke;
}

.cart,.login,.singup{
  padding: 10px 5px;
  margin: 20px 5px;
  border-radius: 15px;
  border: none;
  background: none;
  color: whitesmoke;
  font-size: 15px;
}
.serchBox{
  width: 100%;
  height: 30px
}
.serch{
  width: 30%
}

/* nav bar end */

/* hero section */
.hero-img{
  width: 100%;
  height: 600px;

}
/* hero section end */

/* product1 styling */

/* .wrapper{
  max-height: 120px;
  border: 1px solid black;
  display: flex;
  overflow-x: auto;
}
.wrapper::-webkit-scrollbar{
  width: 0px;
}
.wrapper .item{
  min-width: 220px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  background-color: #ffedff;
  margin-right: 2px;

} */
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
