@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mbody{
  margin: 50px ;
}


.navBar-main{
  display: flex;
  width: 100%;
  height: 10vh;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  z-index: 2;
  
}

.navBar{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  justify-content: space-between;
  font-weight: bold;
}
.logo{
  color: black;
  /* font-family: "Gochi Hand", cursive; */
  /* font-family: "Splash", cursive; */
  font-family: "Give You Glory", cursive;
  cursor: pointer;
  border: 2px solid rgb(255, 6, 6);
  border-radius: 5px;
  padding: 0.5px 6px;
  
}
.list-items{
  display: flex;
}
.navBar li {
  list-style: none;
  margin-left: 20px;
}
.navBar li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}
.navBar li a:hover{
  color: red;
  /* box-shadow: 10px 5px 10px 5px black; */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  border-bottom: 2.5px solid black;
}

.cart,.login,.singup{
  padding: 10px 5px;
  margin: 20px 5px;
  border-radius: 15px;
  border: none;
  background: none;
}
.cart{
  font-size: 20px;
}
.login{
  font-size: 20px;
}
.HeroB{
  filter: grayscale(100%);
}

.serch{
  width: 25%;
  color: white;
}

.serchBox{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0.5px solid wheat;
  box-shadow: 1px solid black;
  color: white;
}
.serchBox::placeholder{
  color: white;
  padding-left: 20px;
}
.serchBox:hover{
  box-shadow: 10px 5px 10px 5px black;
}



.pbody{
  border: 1px solid black;
  align-items: center;
  padding: 10px;
}
.pageSection{
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 10px;
  width: 100%;
  
}
.pageImage{
  width: 250px;
  height: 250px;
}
.pageImage img{
  width: 100%;
}
.btn-c{
  padding: 6px 12px;
  
}
.btns{
  margin-left: 40px;
  margin-top: 10px;
}


